{% extends "network/layout.html" %}
{% load static %}

{% block body %}

<div class="module" id="{{ module.module_code }}">
    <div class="code">{{ module.module_code }}</div>
    <div class="name">{{ module.module_name }}</div>
    <div class="summary"> 
        <div class="header"> Summary : </div> 
        <div id="summary_text" >{{ module.module_summary }}</div>
    </div>

    <form>
        <input class="btn btn-info" type="submit" value="Edit Module Summary" id="edit_summary_button">
    </form>

</div>

<div class="reviews">
    <div class="code">Reviews:</div>
    {% for review in reviews %}

    <div class="card mb-3 mx-auto text-center" style="max-width: 100%;">
        <div class="row no-gutters">

            <div class="col-md-4 profile_summary">
                <img src="{{ review.user.photo.url }}" class="profile_img_show" style="max-width: 50%;" class="card-img" />
                <div class="card-body">
                    <div class="center"> 
                        <div class="card-title"> <strong> {{ review.user.username }} </strong> </div>
                        <div class="card-text"> Took this module in Year {{ review.year }} Sem {{ review.semester }} </div>
                        <div class="card-text"> Lecturered by: {{ review.professor }} </div>
                    </div> 
                </div>
            </div>

            <div class="col-md-8">
                <div class="card-body">
                    <div class="edit_review" id="{{review.id}}">
                        <div class="text"> {{ review.review }} </div>
                        {% if review.user.username == user.username %}
                        <form class="center">
                            <input class="btn btn-secondary btn-sm edit_review_button" type="submit" value="Edit Review">
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
      </div>
    {% endfor %}

    <nav aria-label="">

        <form>
            <input class="btn btn-primary" type="submit" value="Create New Review" id="create_review_button">
        </form>

        <ul class="pagination">
            {% if reviews.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ reviews.previous_page_number }}">Previous</a>
            </li>
            {% else %}
            <li class="page-item inactive">
                <a class="page-link">Previous</a>
            </li>
            {% endif %}

            {% for page_number in total_pages %}
                {% if reviews.number == forloop.counter %}
                    <li class="page-item active"> <a class="page-link" href="?page={{ forloop.counter }}"> {{ forloop.counter }}</a> </li>
                {% else %}
                    <li class="page-item"> <a class="page-link" href="?page={{ forloop.counter }}"> {{ forloop.counter }}</a> </li>
                {% endif %}
            {% endfor %}


            {% if reviews.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ reviews.next_page_number }}">Next</a>
            </li>
            {% else %}
            <li class="page-item inactive">
                <a class="page-link">Next</a>
            </li>
            {% endif %}

        </ul>
    </nav>

</div>

{% endblock %}

{% block script %}
<script src="{% static 'network/module.js' %}"></script>
{% endblock %}